* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body{
    background: rgb(228, 228, 228);
   -webkit-background-size:cover;
   background-size:100vw, 100vh;
   background-attachment: fixed;
   font-family: monospace;
    }
    figure{
     width: 200px;
     height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
     background:#5C5C5C;
     float: left;
     transition: 3s;
     margin-left: 180px;
     
    }
    #titulo{
     width: 800px;
     height: 100px;
     background:#A9B2C2;
     float: left;
     
    }
    #subtitulo{
     width: 800px;
     height: 100px;
     background:#696969;
     float: left;
    }
    #titulo p{
    font-size: 45px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: bold;
    }
    #subtitulo p{
    font-size: 30px;
    margin-left: 60px;
    font-weight: bold;
    }
    nav{
    width: 1000px;
    height: 60px;
    background:#16181A;
    float: left;
    margin-left: 180px;
    }
    nav ul li{
    display: inline-block;
    margin: 5px;
    }
    nav ul li a{
    color:white;
    font-size:17px;
    text-decoration: none;
    transition: .3s;
    }
    nav ul li a:hover{
    font-size: 25px;
    color:cyan;
    }
    nav ul li #contacto:hover{
    font-size: 25px;
    color: red;
    }
    form {
        width: 450px;
        margin: auto;
        background: rgb(0, 0, 0, );
        padding: 10px, 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;
    }
    h2{
        color: rgb(255, 255, 255);
        text-align:center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;

    }
    #boton{
        background: #3a689e;
        color: #fff;
        padding: 20px;
    }
    #boton:hover {
        cursor: pointer;
    }
    @media (max-width:480){
        form{
            width: 100%;
        }
    }
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: .4rem 0;
    }
    